@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668762924792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-layer:before {
  content: "\e634";
}

.icon-NzmV1nzmGrid:before {
  content: "\e60e";
}

.icon-fangda:before {
  content: "\e639";
}

.icon-pingyi:before {
  content: "\e813";
}

.icon-plus:before {
  content: "\e656";
}

.icon-xiugai:before {
  content: "\e62c";
}

.icon-shanchu:before {
  content: "\e612";
}

.icon-NMStubiao-:before {
  content: "\e623";
}

.icon-fuwei:before {
  content: "\e62e";
}

.icon-ceju:before {
  content: "\e69b";
}

.icon-suoxiao1:before {
  content: "\e79f";
}

.icon-duobianxing:before {
  content: "\e61b";
}

.icon-cemian:before {
  content: "\e60f";
}

.icon-fangda1111:before {
  content: "\e607";
}

.icon-qingchu:before {
  content: "\e8b4";
}

.icon-checkbox:before {
  content: "\ea70";
}

.icon-didian:before {
  content: "\e63e";
}

.icon-polyline:before {
  content: "\e6bb";
}

.icon-daochu:before {
  content: "\e651";
}

.icon-guangqi_tuli:before {
  content: "\e6bc";
}

