@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1686127840912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaokong:before {
  content: "\e664";
}

.icon-weikuangkulogo1:before {
  content: "\e62d";
}

.icon-weikuangkulogo:before {
  content: "\e62c";
}

.icon-sideng-copy:before {
  content: "\eb46";
}

.icon-sandeng:before {
  content: "\e612";
}

.icon-wudeng:before {
  content: "\e613";
}

.icon-erdeng:before {
  content: "\e614";
}

.icon-wudengbie:before {
  content: "\e615";
}

.icon-sideng:before {
  content: "\e618";
}

.icon-yideng:before {
  content: "\e619";
}

.icon-biku:before {
  content: "\e60f";
}

.icon-qita1:before {
  content: "\e610";
}

.icon-zaiyong:before {
  content: "\e616";
}

.icon-tingyong1:before {
  content: "\e62a";
}

.icon-xikuang:before {
  content: "\e625";
}

.icon-tannikuang:before {
  content: "\e626";
}

.icon-qitajinshujifeijinshukuang:before {
  content: "\e627";
}

.icon-wumukuang:before {
  content: "\e629";
}

.icon-niekuang:before {
  content: "\e62b";
}

.icon-a-yinxinkuang1:before {
  content: "\e61a";
}

.icon-a-qianxinkuang1:before {
  content: "\e61d";
}

.icon-tikuang:before {
  content: "\e622";
}

.icon-tongkuang:before {
  content: "\e624";
}

.icon-gongkuang:before {
  content: "\e61e";
}

.icon-sheqingjinkuang:before {
  content: "\e623";
}

.icon-fuxuanjinkuang:before {
  content: "\e628";
}

.icon-dingwei:before {
  content: "\e635";
}

.icon-fanhui:before {
  content: "\e67c";
}

.icon-jianguandengjiwudeng:before {
  content: "\e62f";
}

.icon-jianguandeng-copy:before {
  content: "\eb45";
}

.icon-jianguandengji2:before {
  content: "\32";
}

.icon-jianguandengji3:before {
  content: "\33";
}

.icon-jianguandeng:before {
  content: "\6a";
}

.icon-anquandengji:before {
  content: "\e633";
}

.icon-anquandengji1:before {
  content: "\e68f";
}

.icon-yixiufukuangshan:before {
  content: "\e61b";
}

.icon-weixiufukuangshan:before {
  content: "\e61c";
}

.icon-feiqikuangshan:before {
  content: "\e634";
}

.icon-kuangshanshenpi:before {
  content: "\e65a";
}

.icon-weikuangkutaizhang:before {
  content: "\e60e";
}

.icon-weikuangku1:before {
  content: "\e620";
}

.icon-a-15yinhuanpaicha:before {
  content: "\e665";
}

.icon-tiaozheng:before {
  content: "\e694";
}

.icon-shengchanguanli:before {
  content: "\e9e6";
}

.icon-zhukuangzhong:before {
  content: "\e60b";
}

.icon-fuwujibie:before {
  content: "\e684";
}

.icon-jianguan:before {
  content: "\e647";
}

.icon-zanwu1:before {
  content: "\e605";
}

.icon-yiji1:before {
  content: "\e606";
}

.icon-erji1:before {
  content: "\e607";
}

.icon-sanji1:before {
  content: "\e60a";
}

.icon-zaijian1:before {
  content: "\e99d";
}

.icon-erji:before {
  content: "\e600";
}

.icon-yiji:before {
  content: "\e601";
}

.icon-sanji:before {
  content: "\e602";
}

.icon-zanwu:before {
  content: "\e603";
}

.icon-kuangshan1:before {
  content: "\e609";
}

.icon-juliceliang:before {
  content: "\e655";
}

.icon-mianjiceliang:before {
  content: "\e630";
}

.icon-qingchu:before {
  content: "\e621";
}

.icon-zuobiao:before {
  content: "\e65f";
}

.icon-government:before {
  content: "\e64b";
}

.icon-shui:before {
  content: "\e611";
}

.icon-weibiaoti-1:before {
  content: "\e680";
}

.icon-qita:before {
  content: "\e643";
}

.icon-tingyong:before {
  content: "\eaad";
}

.icon-yibiku:before {
  content: "\eaae";
}

.icon-zaijian:before {
  content: "\eaaf";
}

.icon-zaiyong-2:before {
  content: "\eab0";
}

.icon-guanbi:before {
  content: "\e617";
}

.icon-jinshufeijinshukuangshan:before {
  content: "\e61f";
}

.icon-ditu:before {
  content: "\e66c";
}

.icon-wuranyuan:before {
  content: "\e646";
}

.icon-huanjingyujing:before {
  content: "\eb3a";
}

.icon-chart-trend-full:before {
  content: "\e8bf";
}

.icon-kuangshan:before {
  content: "\e60d";
}

.icon-dengji:before {
  content: "\e645";
}

.icon-dengji-copy:before {
  content: "\eb3b";
}

.icon-dengji-copy1:before {
  content: "\eb3c";
}

.icon-dengji-copy2:before {
  content: "\eb3d";
}

.icon-dengji-copy3:before {
  content: "\eb3e";
}

.icon-tuli:before {
  content: "\e6ae";
}

.icon-duihao:before {
  content: "\e604";
}

.icon-tuceng:before {
  content: "\e63b";
}

.icon-kaiguan-kai:before {
  content: "\e608";
}

.icon-zhengtitubiaosvg_liuyu:before {
  content: "\e631";
}

.icon-ditu1:before {
  content: "\e60c";
}

.icon-weikuangku:before {
  content: "\e63c";
}

.icon-weikuangku-1:before {
  content: "\eb3f";
}

.icon-weikuangku-copy:before {
  content: "\eb40";
}

.icon-weikuangku-copy1:before {
  content: "\eb41";
}

.icon-weikuangku-copy2:before {
  content: "\eb42";
}

.icon-weikuangku-copy3:before {
  content: "\eb43";
}

.icon-weikuangku-copy4:before {
  content: "\eb44";
}

